* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root {
   font-size: 62.5%;
   --hue: 195; 
   --text: #121214;
   --titles: #202024;
   --bg-searchbar: #ffffff33;
   --white: #ffffff;
   --darkblue: hsl(var(--hue), 91%, 25%);
   --lightblue: hsl(var(--hue), 46%, 40%);
}

body, html, input {
   font-family: 'Mulish', sans-serif;
   font-size: 1.6rem;
}

/*MOBILE FIRST*/

#blog {
   background-color: var(--white);
   margin-inline: auto;
}

header {
   background-color: var(--darkblue);
   display: flex;
   gap: 2.5rem;
   padding: 1.2rem 2.8rem;
}

header img {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
}

header .profile:hover {
   border: 2px solid #7fdbfa;
}

header form {
   flex: 1;
}

.search-bar label {
   width: 1px;
   height: 1px;
   overflow: hidden;
   position: absolute;
}

.search-bar input {
   width: 100%;
   background-color: var(--bg-searchbar);
   color: var(--white);
   font-weight: 600;
   border: none;
   padding: 1.2rem 1.6rem 1.2rem 1.4rem;
   border-radius: 4px;
}

.search-bar input::placeholder {
   color: var(--white);
   font-weight: 600;
}

.img-cover {
   width: 100%;
   height: 22rem;
   object-fit: cover;
}

#article .content, #aside {
   padding: 0 2.2rem 1.4rem 2.2rem;
}

#article h1 {
   font-size: 2.4rem;
   font-weight: 700;
}

.title {
   padding-top: 3.1rem;
   padding-bottom: 0.8rem;
}

#article .avaliation {
   display: flex;
   gap: 1.2rem;
   margin-bottom: 3.1rem;
}

#article .avaliation img:hover {
   transform: scale(1.1) rotate(-5deg);
}

#article p {
   line-height: 2.6rem;
   text-align: justify;
   margin-bottom: 2rem;
}

#aside h1 {
   margin-bottom: 1.2rem;
}

#aside {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-bottom: 3.7rem;
}

#aside .container {
   display: flex;
   gap: 2rem;
   align-items: center;
   --delay: 0.3s;
   animation: appear 0.5s var(--delay) backwards;
}

#aside .text {
   flex: 1;
}

#aside .container img {
   width: 15rem;
   height: 8.4rem;
   object-fit: cover;
   border-radius: 5px;
   transition-property: transform;
   transition-duration: 0.5s;
}

#aside .text h2 {
   font-size: 1.8rem;
   margin-bottom: 0.8rem;
}

#aside .text p {
   font-size: 1.4rem;
   line-height: 2.24rem;
}

#aside .container:hover p, #aside .container:hover h2 {
   text-decoration: underline;
}

#aside .container:hover img {
   transform: scale(1.1);
}

#blog .coments {
   display: flex;
   align-items: center;
   gap: 1rem;
}

#blog .coments img {
   width: 3.5rem;
}

#blog .coments a {
   text-decoration: none;
   color: var(--darkblue);
}

#blog .coments a:hover {
   text-decoration: underline;
}

footer {
   background-color: var(--darkblue);
   text-align: center;
   color: var(--white);
   padding: 2rem;
}

@media (min-width: 768px) and (max-width: 1440px) {
   #blog {
      max-width: fit-content;
   }

   .img-cover {
      height: 40rem;
   }

   .title {
      padding: 0;
      flex: 1;
   }

   #article .avaliation {
      display: flex;
      margin-bottom: 0;
   }

   #article .title-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
   }
}

@media (min-width: 1440px) {
   #blog {
      max-width: 100%;
      display: grid;
      grid-template-areas:
      "header header"
      "article aside"
      "footer footer";
   }

   #blog header {
      grid-area: header;
   }

   #blog #article {
      margin: 4.4rem 3.4rem 0 11rem;
      width: 80.3rem;
      grid-area: article;
   }

   .img-cover {
      height: 40.5rem;
      border-radius: 5px;
   }

   #blog #aside {
      padding: 0;
      margin: 4.4rem 11rem 0 0;
      grid-area: aside;
   }

   #blog footer {
      grid-area: footer;
   }

   #article .avaliation {
      display: flex;
      margin-bottom: 0;
   }

   .title {
      padding: 0;
      flex: 1;
   }

   #article .title-box {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 3.2rem;
      margin-bottom: 3.2rem;
   }

   #article .content {
      padding: 0 0 1.4rem 0;
   }
}

@keyframes appear {
   0% {
      opacity: 0;
      transform: scale(0.7);
   }
}