* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root {
   font-size: 62.5%;
   --text: #121214;
   --titles: #202024;
   --bg-searchbar: #ffffff33;
   --white: #ffffff;
   --darkblue: #065e7c;
   --lightblue: #387e96;
}

body, html, input {
   font-family: 'Mulish', sans-serif;
   font-size: 1.6rem;
}

/*MOBILE FIRST*/

#blog {
   background-color: var(--darkblue);
   max-width: 43rem;
   margin-inline: auto;
}

header {
   display: flex;
   gap: 2.5rem;
   padding: 1.2rem 2.8rem;
}

header img {
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
}

header .profile:hover {
   border: 2px solid #7fdbfa;
}

header form {
   flex: 1;
}

.search-bar label {
   width: 1px;
   height: 1px;
   overflow: hidden;
   position: absolute;
}

.search-bar input {
   width: 100%;
   background-color: var(--bg-searchbar);
   color: var(--white);
   border: none;
   padding: 1.2rem 1.6rem 1.2rem 1.4rem;
   border-radius: 4px;
}

.search-bar input::placeholder {
   color: var(--white);
   font-weight: 600;
}

main {
   background-color: var(--white);
}

main .img-cover {
   width: 100%;
   height: 22rem;
   object-fit: cover;
}

article, aside {
   padding: 0 2.2rem 1.4rem 2.2rem;
}

article h1 {
   margin-top: 3.1rem;
   margin-bottom: 0.8rem;
   font-size: 2.4rem;
   font-weight: 700;
}

article .avaliation {
   display: flex;
   gap: 1.2rem;
   margin-bottom: 3.1rem;
}

article .avaliation img:hover {
   transform: scale(1.1) rotate(-5deg);
}

article p {
   line-height: 2.6rem;
   text-align: justify;
   margin-bottom: 2rem;
}

aside h1 {
   margin-bottom: 1.2rem;
}

aside {
   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding-bottom: 3.7rem;
}

aside .container {
   display: flex;
   gap: 2rem;
   align-items: center;
}

aside .text {
   flex: 1;
}

aside .container img {
   width: 15rem;
   height: 8.4rem;
   object-fit: cover;
   border-radius: 5px;
}

aside .text h2 {
   font-size: 1.8rem;
   margin-bottom: 0.8rem;
}

aside .text p {
   font-size: 1.4rem;
   line-height: 2.24rem;
}

footer {
   text-align: center;
   color: var(--white);
   padding: 2rem;
}

